[Unit]
Description=Add wheel members to docker, and incus-admin groups
After=local-fs.target
ConditionPathExists=!/etc/ublue/dx-groups

[Service]
Type=oneshot
ExecStart=/usr/libexec/bazzite-dx-groups
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
