[Unit]
Description=Bazzite DX Groups Initialization
ConditionPathExists=!/var/lib/bazzite-dx-groups
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/bazzite-dx-groups
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target