# TODO: Replace this with ublue-setup-services
# See: https://github.com/ublue-os/bluefin/blob/1be5bcabc0b584b16611ecde557027f1f4b292d3/system_files/dx/usr/lib/systemd/system/bluefin-dx-groups.service
[Unit]
Description=Add wheel members to docker,incus-admin, and lxd groups
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/libexec/bluefin-dx-groups
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target